#!/bin/sh

set -xe

LOCAL_IMAGE='{{repository}}:{{base}}-{{tag_name}}'

IMAGE_TAG='{{base}}-{{tag_name}}'

SHORTHANDS='{{shorthands}}'

docker login --username '{{user}}'

docker tag "${LOCAL_IMAGE}" "{{user}}/{{repository}}:${IMAGE_TAG}"
docker push "{{user}}/{{repository}}:${IMAGE_TAG}"

for shorthand in ${SHORTHANDS}; do
  docker tag "${LOCAL_IMAGE}" "{{user}}/{{repository}}:${shorthand}"
  docker push "{{user}}/{{repository}}:${shorthand}"
done
